<%= render(Debug::TailwindBreakpointComponent.new) %>
<div class="container mb-4">
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <p>This is regular text <a>with an anchor</a>.</p>
  <%= render(AlertComponent.new(level: :error, message: "Error message")) %>
  <%= render(AlertComponent.new(level: :warning, message: "Warning message")) %>
  <%= render(AlertComponent.new(level: :info, message: "Info message")) %>
</div>
<div class="container">
  <%= form_for(@fake, url: theme_index_path) do |f| %>
    <legend>Form example</legend>
    <%# TODO: Incorporate all https://guides.rubyonrails.org/form_helpers.html %>
    <%#       https://api.rubyonrails.org/v6.1.3/classes/ActionView/Helpers/FormBuilder.html %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: "Name" %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <%= f.label :address %>
      <%= f.text_area :address %>
    </div>

    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
  <% end # form_for %>
</div>
