<!DOCTYPE html>
<html>
  <head>
    <title>Noosphere</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav>
      <ol>
        <li><%= link_to 'Sign In', new_user_credential_session_path %></li>
      </ol>
    </nav>
    <%# TODO: Required for Devise. Figure out a better way to show flash than this... %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
