<!DOCTYPE html>
<html>
  <head>
    <title>Noosphere</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :head %>
  </head>
  <body class="container justify-center">
    <%= content_for?(:body) ? yield(:body) : yield  %>
  </body>
</html>
