<!DOCTYPE html>
<html>
  <head>
    <title>Noosphere</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <%= yield :head %>
  </head>
  <body>
    <%= render(NavBarComponent.new(current_user: @current_user)) %>
    <%# TODO: Required for Devise. Figure out a better way to show flash than this... %>
    <p class="notice bg-yellow-200 text-black"><%= notice %></p>
    <p class="alert bg-red-300 text-white font-bold"><%= alert %></p>
    <%= yield %>
  </body>
</html>
